body {
    /* background: linear-gradient(to bottom, #ffffff, #ff1111); */
	font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    background: rgb(43, 43, 43);
    color: #ffffff;
    /* text-shadow: 2px 2px 2px grey; */
    text-align: center;
	text-shadow: rgba(107, 107, 107, 0.176) 0px 16px 48px 0px;
    font-size: 3rem;
}

/* CSS */
.box {
	background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
	border: 0;
	border-radius: 18px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 2.5;
	outline: transparent;
	padding: 0 1rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow .2s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
}

.box:not([disabled]):focus {
  	/* box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5); */
  	box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.box:not([disabled]):hover {
  	/* box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5); */
 	box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#searchbar {
	font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	outline:none;
	padding: 6px 12px;
	background: rgb(60, 60, 60);
	border: 3px solid rgb(60, 60, 60);
	border-radius: 15px;
	font-size: 13px;
	color: rgb(247, 248, 248);
	height: 46px;
	appearance: none;
	transition: border 1s ease 0.1s;
}

#searchbar:focus {
	outline: none;
	box-shadow: none;
	border-color: rgb(100, 153, 255);
}

#clear {
	align-self: right;
	font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	outline: 0;
	border: 0;
	cursor: pointer;
	will-change: box-shadow,transform;
	/* background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% ); */
	background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
	box-shadow: 0px 2px 4px #de3d5b, 0px 7px 13px -3px #de3d5b, inset 0px -3px 0px #de3d5b;
	padding: 0 32px;
	border-radius: 6px;
	color: #fff;
	height: 48px;
	font-size: 18px;
	text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
	transition: box-shadow 0.15s ease,transform 0.15s ease;
}

#clear:hover {
	/* box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #EF4765; */
	transform: translateY(-2px);
}

#clear:active{
	box-shadow: inset 0px 3px 7px #b33048;
	transform: translateY(2px);
}